/* BASE STYLES */
.pink{
    color: #ED2A7A !important;
    font-weight: bold;
}

/* HEADER */
header{
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
}

/* CONTENT */
.full-height-bg {
    background-position: bottom center !important;
    background-repeat: no-repeat !important;
    text-align: center;
    position: relative;
	overflow: hidden;
	flex-shrink: 0;
    height: 100vh;
	width: 100%;
    margin: auto;
    z-index: 1;
}
.full-height-bg .container.title{
    position: absolute;
    text-align: center;
    top: 15%;
    width: 100%;
    height: 100%;
    margin: auto;
}
.full-height-bg span{
    width: 50%;
    color: #8A969F;
    /*color: #ED2A7A;*/
}
.container.options{
    position: relative;
    text-align: center;
    top: 24.5%;
    width: 95%;
    height: 100%;
    margin: auto;
    transition: all .8s;
    -webkit-transition: all .8s;
}
.container.options.transitionOut{opacity: 0; top: 12%;}
.container.options.transitionIn{opacity: 1; top: 24.5%;}

.container.options p.question, .container.options .answer{
    font-size: 18px;
    font-weight: bold;
}
.container.totalprice{
    position: absolute;
    text-align: right;
    color: #8A969F;
    font-size: 21px;
    font-weight: bold;
    top: 78%;
    width: 90%;
    height: 100%;
    margin: 0 5%;    
}
.container.buttons{
    position: absolute;
    text-align: center;
    color: #fff;
    font-weight: bold;
    top: 84%;
    width: 90%;
    height: 100%;
    margin: 0 5%;    
}
.container.buttons .button{
    background-color: #ED2A7A;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
}
.container.buttons .button:hover{box-shadow: 0 0 5px #888;}
.container.buttons .button:active{/*color: rgb(136, 124, 124);*/ box-shadow: 0 0 5px #000; background-color: #8A969F;}

.option_con{
    border: 2px solid #E4EAED;
    border-radius: 15px;
    vertical-align: center;
    display: grid;
    float: left;
    width: 28.3%;
    height: 40%;
    margin: 5% 2.5%;
    padding: 2.5%;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.option_con:hover{border: 2px solid #ED2A7A;}
/*.option_con:active{border: 4px solid #ED2A7A;}*/

#first_option,
#second_option,
#third_option,
#fourth_option{
    display: none;
}

#first_option:checked + label,
#second_option:checked + label,
#third_option:checked + label,
#fourth_option:checked + label{
    background-color: rgba(237, 42, 123, 0.1);
    box-shadow: 0px 0px 10px #888888;
    border: 3px solid #ED2A7A;
}

/* FOOTER */
footer{
    position: fixed;
    z-index: 999;
    left: 0;
    bottom: 0;
}